Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: [performance improvement] Concurrent Supabase queries in Outreach service
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add accessibility attributes to Interview Panel buttons
  frontend/components/InterviewPanel.tsx
Due: prettier --write

Fix exception detail leakage in HTTP responses
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add ARIA label and focus states to application menu button
  frontend/app/dashboard/applications/page.tsx
Due: prettier --write

Refactor outreach service to prevent async event loop blocking
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: [performance improvement] Wrap outreach DB queries in to_thread
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Added aria-labels and keyboard focus states to icon buttons in Interview Panel
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write

🛡️ Sentinel: Fix information disclosure in error handling
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix broken utility classes and add missing focus/hover states on Modals
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/CoverLetterModal.tsx
  frontend/components/OutreachModal.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix Exception Information Disclosure
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: [performance improvement] Wrap cover letter Supabase queries with asyncio.to_thread
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Fix exception detail leakage in jobs_board and interview routes
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add keyboard focus to OnboardingWizard buttons
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

⚡ Bolt: [performance improvement] Optimizes cover letter endpoints by wrapping synchronous Supabase execute queries in asyncio.to_thread
  backend/routers/cover_letter.py
  frontend/app/dashboard/roadmap/page.tsx
  test_perf.py
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add aria-expanded to mobile menu button
  frontend/app/dashboard/layout.tsx
Due: prettier --write

⚡ Bolt: Optimize sequential conditional DB queries in outreach service
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix Exception Detail Leakage
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add htmlFor to form labels in AddApplicationModal
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

⚡ Bolt: Offload synchronous Supabase queries to threads in outreach_service.py
  backend/services/outreach_service.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement agentic multi-agent orchestration service with tool support, database schema, and frontend dashboard integration
  backend/config.py
  backend/main.py
  backend/requirements.txt
  backend/routers/agent.py
  backend/services/agentic/agents.py
  backend/services/agentic/memory.py
  backend/services/agentic/state.py
  backend/services/agentic/supervisor.py
  backend/services/agentic/tools.py
  backend/tests/test_agent_graph.py
  frontend/app/dashboard/assistant/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/lib/api.ts
  supabase/migrations/20260705_agentic_schema.sql
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

chore: ignore docs directory in git repository
  .gitignore
Due: none

⚡ Bolt: Optimize cover_letter.py database queries
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix Exception Detail Leakage in Routes
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add explicit label-to-input associations in Add Application modal
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix Information Disclosure via Error Messages
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize agent context hydration latency
  backend/services/agentic/memory.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Prevent info disclosure in file cleanup
  .jules/sentinel.md
  backend/utils/file_handler.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add form label associations for accessibility
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

⚡ Bolt: Optimize outreach_service.py database queries
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Fix Information Leakage in Exception Handling
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize outreach_service.py
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Add form accessibility to AddApplicationModal
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

Add htmlFor attributes to Onboarding form labels
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

🛡️ Sentinel: Fix Exception Detail Leakage
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize cover letter export DB queries
  backend/routers/cover_letter.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Fix exception detail leakage in API routers
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add missing htmlFor and id attributes to AddApplicationModal
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

⚡ Bolt: Optimize export_cover_letter endpoint
  backend/routers/cover_letter.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve form accessibility with proper label associations
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: frontend/**/*.{ts,tsx,js,jsx}
  bash -c 'source backend/venv/bin/activate && black "$@"' --: any of: backend/**/*.py
