Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

.lintstagedrc:

{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write"
  ],
  "backend/**/*.py": [
    "bash -c 'source backend/venv/bin/activate && black \"$@\"' --"
  ]
}

feat: add GitHubAnalysisRequest Pydantic model for input validation
  backend/models/github.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

perf: Memoize pure presentational components to prevent unnecessary re-renders
  frontend/components/MatchGauge.tsx
  frontend/components/RadarChart.tsx
  frontend/components/ScoreCard.tsx
  frontend/components/SkillGapList.tsx
Due: prettier --write

🎨 Palette: Add aria-labels to ResumeEditor toolbar buttons
  frontend/app/dashboard/github-analysis/page.tsx
  frontend/components/ResumeEditor.tsx
  frontend/components/landing/Footer.tsx
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix missing user_id constraint on interview_sessions updates
  backend/routers/interview.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement cover letter generation, add UI components, and integrate semantic job matching into the scraping workflow.
  backend/main.py
  backend/models/analysis.py
  backend/requirements.txt
  backend/routers/applications.py
  backend/routers/cover_letter.py
  backend/routers/job_match.py
  backend/services/doc_generator.py
  backend/services/jd_matcher.py
  backend/services/job_scraper.py
  frontend/app/dashboard/applications/page.tsx
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/components/CoverLetterModal.tsx
  frontend/components/ui/badge.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/tabs.tsx
  frontend/lib/api.ts
  supabase/migrations/20260402_career_pack.sql
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement job suggestion engine, add cover letter schema, and enable direct resume-to-job matching
  backend/models/analysis.py
  backend/routers/job_match.py
  backend/services/jd_matcher.py
  backend/services/job_suggester.py
  backend/verify_match_upload.py
  frontend/app/dashboard/cover-letter/page.tsx
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/lib/api.ts
  supabase/schema.sql
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: support default resume resolution in backend and refactor cover letter export to use authenticated download requests
  backend/routers/cover_letter.py
  backend/routers/interview.py
  backend/routers/job_match.py
  backend/verify_match_upload.py
  frontend/app/dashboard/cover-letter/page.tsx
  frontend/components/CoverLetterModal.tsx
  frontend/lib/api.ts
  package.json
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement async embedding engine with NVIDIA API integration and Jaccard fallback for improved performance and reliability
  backend/routers/job_match.py
  backend/routers/resume.py
  backend/services/ats_scorer.py
  backend/services/embedding_engine.py
  backend/services/github_analyzer.py
  backend/services/jd_matcher.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement LinkedIn profile analysis feature with PDF parsing and AI-driven optimization insights
  backend/main.py
  backend/models/linkedin.py
  backend/routers/linkedin.py
  backend/services/linkedin_analyzer.py
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/linkedin-analysis/page.tsx
  frontend/components/LinkedinUploader.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement performance pulse dashboard with trend tracking for resume, LinkedIn, interview, and GitHub metrics
  backend/routers/analytics.py
  backend/routers/linkedin.py
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [HIGH] Fix overly permissive CORS regex vulnerability
  backend/config.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add ARIA attributes and focus styles to CoverLetterModal buttons
  frontend/components/CoverLetterModal.tsx
Due: prettier --write

⚡ Bolt: Offload feedparser blocking call to threadpool
  backend/services/job_scraper.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [CRITICAL] Fix IDOR in interview session updates
  backend/routers/interview.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

chore(ux): add aria-label to LiveDemo input
  frontend/components/landing/LiveDemo.tsx
  frontend/pnpm-lock.yaml
Due: prettier --write

⚡ Bolt: Offload blocking feedparser.parse to threadpool
  backend/__init__.py
  backend/routers/applications.py
  backend/routers/job_match.py
  backend/services/__init__.py
  backend/services/doc_generator.py
  backend/services/groq_client.py
  backend/services/jd_matcher.py
  backend/services/job_scraper.py
  backend/services/job_suggester.py
  backend/services/linkedin_analyzer.py
  backend/tests/__init__.py
  backend/tests/test_job_scraper.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [HIGH] Fix SSRF vulnerability in GitHub Analyzer
  backend/services/github_analyzer.py
  backend/tests/test_github_analyzer.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: optimize evaluate_session concurrency
  backend/routers/interview.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve keyboard accessibility and screen reader support in CoverLetterModal
  .Jules/palette.md
  frontend/components/CoverLetterModal.tsx
Due: prettier --write

feat(ux): add aria-labels and focus rings to resume editor toolbar buttons
  frontend/components/ResumeEditor.tsx
Due: prettier --write

🛡️ Sentinel: [HIGH] Fix lack of input validation on GitHub username
  backend/models/github.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: concurrent evaluation for evaluate_session
  backend/routers/interview.py
  backend/tests/test_job_scraper.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

fix: update GitHub username validation regex and length constraints in GitHubAnalysisRequest
  backend/models/github.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [HIGH] Fix CORS Prefix Hijacking
  backend/config.py
  backend/main.py
  backend/tests/test_job_scraper.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: improve keyboard and screen reader accessibility in ResumeEditor
  .Jules/palette.md
  frontend/components/ResumeEditor.tsx
Due: prettier --write

⚡ Bolt: Avoid redundant embedding calculations in job matching
  backend/routers/job_match.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --
