Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

.lintstagedrc:

{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write"
  ],
  "backend/**/*.py": [
    "bash -c 'source backend/venv/bin/activate && black \"$@\"' --"
  ]
}

Revert "feat: add dynamic time-based greetings and rotating daily quotes to dashboard header"
  frontend/app/dashboard/page.tsx
Due: prettier --write

docs: overhaul project documentation, update tech stack details, and refine repository structure descriptions
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  backend/README.md
  backend/utils/role_skill_matrix.json
  frontend/README.md
  frontend/app/pricing/page.tsx
  frontend/lib/constants.ts
  supabase/README.md
Due: prettier --write

refactor: implement structured logging, reorganize script directory, and update roadmap resources.
  backend/dummy.pdf
  backend/main.py
  backend/routers/auth.py
  backend/routers/interview.py
  backend/scripts/set_user_plan.py
  backend/services/job_scraper.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add _get_resources helper method to roadmap engine service
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

chore: enable automatic commits for all-contributors configuration
  .all-contributorsrc
Due: none

feat: integrate NVIDIA LLM client for enhanced roadmap and interview evaluation with fallback heuristics
  backend/config.py
  backend/scripts/test_nvidia_integration.py
  backend/scripts/test_real_nvidia.py
  backend/services/interview_engine.py
  backend/services/nvidia_client.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement streaming evaluation endpoint and add telemetry service for NVIDIA API tracking
  backend/routers/interview.py
  backend/scripts/test_enhancements.py
  backend/services/cache_manager.py
  backend/services/interview_engine.py
  backend/services/nvidia_client.py
  backend/services/roadmap_engine.py
  backend/services/telemetry_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [CRITICAL] Fix IDOR in interview and job match endpoints
  backend/models/github.py
  backend/models/resume.py
  backend/models/roadmap.py
  backend/routers/github.py
  backend/routers/interview.py
  backend/routers/job_match.py
  backend/scripts/test_enhancements.py
  backend/scripts/test_nvidia_integration.py
  backend/services/cache_manager.py
  backend/services/github_analyzer.py
  backend/services/job_scraper.py
  backend/services/roadmap_engine.py
  backend/services/skill_gap.py
  backend/services/telemetry_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add linkedin_analyses table with RLS policies and user-based access control
  supabase/schema.sql
Due: none

I've completed the UX enhancements for the auth pages! Here is a summary of the updates I've made:
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
Due: prettier --write

feat: add session evaluation functionality and related models
  backend/models/interview.py
  backend/routers/interview.py
  backend/services/interview_engine.py
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement AI-driven career progress summaries using Groq LLM integration and frontend PDF reporting
  backend/config.py
  backend/routers/analytics.py
  backend/services/groq_client.py
  backend/services/telemetry_service.py
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/lib/api.ts
  frontend/package.json
  package-lock.json
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add ReadinessRadar component to visualize career metrics on the progress tracker page
  frontend/app/dashboard/progress-tracker/page.tsx
Due: prettier --write

feat: redesign landing components and add About page with updated branding
  frontend/app/about/page.tsx
  frontend/app/page.tsx
  frontend/components/landing/Footer.tsx
  frontend/components/landing/LandingNavbar.tsx
  frontend/next.config.ts
Due: prettier --write

refactor: remove MilestonesGrid and ReadinessForecast components from progress tracker page
  frontend/app/dashboard/progress-tracker/page.tsx
Due: prettier --write

style: increase chart heights and expand container width in progress tracker page
  frontend/app/dashboard/progress-tracker/page.tsx
Due: prettier --write

style: update dashboard and resume analysis containers to full width
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
Due: prettier --write

refactor: update UI components with linear gradients, standardized border radii, and responsive width adjustments across dashboard pages.
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/github-analysis/page.tsx
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write

refactor: remove profile fetching from account page and update sign-out redirect paths
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/layout.tsx
Due: prettier --write

feat: integrate AI-powered GitHub profile analysis with enhanced repository metrics and error handling
  backend/models/github.py
  backend/services/github_analyzer.py
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/github-analysis/page.tsx
  frontend/app/dashboard/job-match/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --
