Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

.lintstagedrc:

{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write"
  ],
  "backend/**/*.py": [
    "bash -c 'source backend/venv/bin/activate && black \"$@\"' --"
  ]
}

Fix information disclosure in error handling
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

perf: Optimize export_cover_letter endpoint concurrency
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix information disclosure in error messages
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add keyboard focus indicators and ARIA labels to Interview Panel controls
  frontend/components/InterviewPanel.tsx
Due: prettier --write

Fix information disclosure by replacing raw exceptions with generic error messages
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Optimize `load_user_context` in memory.py
  backend/services/agentic/memory.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add htmlFor attributes to form labels for accessibility
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

🎨 Palette: Add htmlFor attributes for better accessibility on Job Match discovery form
  .Jules/palette.md
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write

Fix information disclosure in error responses
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
  test_security.sh
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Optimize export_cover_letter with asyncio.gather
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add explicit form label associations for accessibility
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

⚡ Bolt: Optimize export_cover_letter queries
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix Exception Information Leakage in API Responses
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
  frontend/app/dashboard/roadmap/page.tsx
  test_plan.md
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize export_cover_letter endpoint in cover_letter.py
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

fix: prevent exception detail leakage in error responses
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add aria-label to icon buttons in Interview Panel
  .Jules/palette.md
  frontend/components/InterviewPanel.tsx
  test_plan.txt
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix Exception Details Information Leakage
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add htmlFor to form labels for accessibility
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

⚡ Bolt: Optimize cover_letter.py export endpoint queries
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize load_user_context by running Supabase queries concurrently
  backend/services/agentic/memory.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix Exception String Leakage
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Prevent Information Disclosure in HTTP Exceptions
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Optimize export_cover_letter endpoint
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Sanitize exception strings in FastAPI routes
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Fix form a11y in AddApplicationModal
  .jules/palette.md
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

Add htmlFor to form labels for screen reader support
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

Prevent exception detail leakage in FastAPI routes
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize cover letter export endpoint
  backend/routers/cover_letter.py
  frontend/app/dashboard/roadmap/page.tsx
  test_cover_letter.sh
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Add missing htmlFor and id attributes to form inputs in AddApplicationModal
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

Fix exception detail leakage in jobs and interview routers
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize cover letter export endpoint
  backend/routers/cover_letter.py
  frontend/app/dashboard/roadmap/page.tsx
  test_cover_letter_syntax.py
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve accessibility in Add Application Modal form
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

Fix: Prevent Information Disclosure via Exception Leakage
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
  pnpm-lock.yaml
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize cover_letter.py
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Refactor export_cover_letter to execute DB queries concurrently
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Prevent Information Disclosure in HTTP Responses
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve accessibility of interview action buttons
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write

⚡ Bolt: Optimize applications.py database queries
  backend/routers/applications.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve accessibility and keyboard navigation in Add Application modal
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write
