Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

.lintstagedrc:

{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write"
  ],
  "backend/**/*.py": [
    "bash -c 'source backend/venv/bin/activate && black \"$@\"' --"
  ]
}

⚡ Bolt: [performance improvement] optimize roadmap generation queries
  backend/routers/roadmap.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(a11y): add keyboard navigation and aria labels to vertical roadmap nodes
  frontend/components/dashboard/VerticalRoadmap.tsx
Due: prettier --write

⚡ Bolt: Fix N+1 DB queries in get_user_readiness_context
  backend/services/job_suggester.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: [performance improvement] Concurrently execute database queries
  .jules/bolt.md
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

fix(ui): add focus visible states and fix hover classes in ResumeEditor toolbar
  frontend/components/ResumeEditor.tsx
  plan.md
Due: prettier --write

perf(backend): parallelize db queries in get_user_readiness_context
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Fix ResumeEditor broken styles and focus states
  frontend/components/ResumeEditor.tsx
Due: prettier --write

🎨 Palette: [UX improvement] Add keyboard accessibility and ARIA labels to TechTreeNode
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

Refactor sequential DB queries in get_user_readiness_context to concurrent using asyncio.to_thread and gather.
  backend/services/job_suggester.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

refactor(roadmap): use asyncio.gather for concurrent Supabase queries
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize sequential Supabase queries using concurrent execution
  backend/routers/roadmap.py
  backend/services/job_suggester.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Add ARIA labels and focus-visible states to custom icon buttons
  frontend/components/InterviewPanel.tsx
  frontend/components/OutreachModal.tsx
Due: prettier --write

🎨 Palette: Enhance keyboard accessibility in TechTreeNode
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

Refactor Supabase db.execute queries to run concurrently with asyncio.gather
  backend/routers/roadmap.py
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve accessibility in TechTree Node resources
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: [performance improvement]
  backend/routers/roadmap.py
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add accessibility states to TechTreeNode
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

Refactor roadmap generation to fetch user context concurrently
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix path traversal risk in temporary file creation
  .jules/sentinel.md
  backend/utils/file_handler.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Refactor get_user_readiness_context database queries to run concurrently
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add keyboard focus states to TechTreeNode
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Parallelize independent Supabase queries
  backend/routers/roadmap.py
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Optimize get_user_readiness_context by using asyncio.gather for synchronous DB calls
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(a11y): add keyboard focus states to nested dashboard components
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Parallelize synchronous Supabase queries in backend endpoints
  backend/routers/roadmap.py
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve keyboard accessibility in TechTreeNode
  frontend/components/dashboard/TechTreeNode.tsx
  frontend/tests/test_components.test.tsx
Due: prettier --write

perf: Use asyncio.gather to concurrently fetch context and roadmap data
  backend/routers/roadmap.py
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(frontend): add keyboard accessibility to TechTreeNode tooltips
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

Parallelize cover letter export queries
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Refactor cover letter export queries for concurrency
  backend/routers/cover_letter.py
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add hover and focus states to resources icon
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

I've updated the UI palette to add keyboard focus indicators to the modal and wizard buttons.
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

⚡ Bolt: [performance improvement] Optimize Supabase queries with asyncio.gather
  backend/routers/cover_letter.py
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add anonymous guest sign-in support to login and register pages
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/lib/auth.ts
Due: prettier --write

feat: add periodic database keep-alive background task to main scheduler
  backend/main.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: refactor jobs board page to a static construction state and remove backend dependencies
  backend/main.py
  backend/services/twitter_job_aggregator.py
  frontend/app/jobs/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Enhance temporary file cleanup error handling
  .jules/sentinel.md
  backend/utils/file_handler.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Refactor scrape_jobs_for_fields to run db query and web scraping concurrently
  backend/routers/job_match.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix information disclosure via exception detail leakage
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Parallelize job scraping and resume query in scrape_jobs_for_fields
  backend/routers/job_match.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --
