Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Add Vercel Web Analytics to project
  frontend/app/layout.tsx
  frontend/package.json
  package-lock.json
Due: prettier --write

feat: Activate dashboard session authentication and add tailwind-merge dependency.
  backend/routers/auth.py
  backend/routers/roadmap.py
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/lib/api.ts
  frontend/package.json
  package-lock.json
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Introduce user authentication dependency imports and correct user ID extraction for roadmap generation.
  backend/routers/auth.py
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Implement LinkedIn profile analysis with dedicated backend services, data models, and a new frontend dashboard page.
  backend/config.py
  backend/main.py
  backend/models/linkedin.py
  backend/routers/linkedin.py
  backend/services/linkedin_analyzer.py
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/linkedin-analysis/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/interview/PreInterviewChecks.tsx
  frontend/lib/api.ts
  frontend/lint_output.txt
  supabase/schema.sql
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Remove Vercel Analytics integration and update the favicon.
  frontend/app/favicon.ico
  frontend/app/layout.tsx
Due: prettier --write

feat: update favicon
  frontend/app/favicon.ico
Due: none

refactor: simplify roadmap page by hiding detailed skill resources behind a coming soon overlay and streamlining error handling.
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write

refactor: Redesign job matching page with dynamic input modes, Framer Motion animations, and a new MatchGauge component.
  frontend/app/dashboard/job-match/page.tsx
  frontend/components/MatchGauge.tsx
  frontend/components/SkillGapList.tsx
Due: prettier --write

feat: Implement RSS-based job scraping, parallelize job source fetching, add remote job filter and deep search radar to job match, and introduce new mock interview options.
  backend/services/job_scraper.py
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/interview/PreInterviewChecks.tsx
  frontend/components/interview/TrustScoreReport.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Add feedparser==6.0.10 to the utilities section.
  backend/requirements.txt
Due: none

feat: Add root endpoint for API status and configure Render's health check path.
  backend/main.py
  backend/requirements.txt
  render.yaml
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement initial landing page with hero, navbar, features, testimonials, live demo, and footer components.
  frontend/components/landing/BentoFeatures.tsx
  frontend/components/landing/Footer.tsx
  frontend/components/landing/Hero.tsx
  frontend/components/landing/LandingNavbar.tsx
  frontend/components/landing/LiveDemo.tsx
  frontend/components/landing/Testimonials.tsx
Due: prettier --write

fix: Prevent information leakage by replacing detailed error messages with generic ones in authentication and registration responses, and document the vulnerability.
  .gitignore
  backend/dependencies.py
  backend/routers/auth.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [HIGH] Fix XSS vulnerability in resume templates
  frontend/app/dashboard/resume-templates/page.tsx
  frontend/lib/sanitize.ts
  frontend/package.json
  package-lock.json
Due: prettier --write

feat: Integrate Clerk for authentication and redesign the mock interview setup page UI with updated styling and layout.
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/interview/PreInterviewChecks.tsx
  frontend/components/interview/ProctorToolbar.tsx
  frontend/components/interview/TrustScoreReport.tsx
  frontend/components/interview/WebcamMonitor.tsx
  frontend/package.json
  package-lock.json
Due: prettier --write

feat: overhaul UI styling with updated design tokens, card animations, button styles, and dashboard sidebar enhancements.
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/landing/Hero.tsx
  frontend/components/landing/Testimonials.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/styles/globals.css
  package-lock.json
Due: prettier --write

feat: implement user account dashboard with profile management and activity tracking
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
Due: prettier --write

feat: integrate progress API to dynamically populate user activity logs and remove theme toggle
  frontend/app/dashboard/account/page.tsx
Due: prettier --write

feat: add dynamic time-based greetings and rotating daily quotes to dashboard header
  frontend/app/dashboard/page.tsx
Due: prettier --write

feat: implement newsletter subscription toggle with database and UI integration
  backend/dependencies.py
  backend/main.py
  backend/models/user.py
  backend/routers/auth.py
  backend/routers/newsletter.py
  frontend/app/auth/register/page.tsx
  frontend/app/dashboard/account/page.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
  supabase/schema.sql
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

refactor: remove newsletter functionality and associated user preferences
  backend/dependencies.py
  backend/main.py
  backend/models/user.py
  backend/routers/auth.py
  backend/routers/newsletter.py
  frontend/app/auth/register/page.tsx
  frontend/app/dashboard/account/page.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Path conditions:
  prettier --write: any of: frontend/**/*.{ts,tsx,js,jsx}
  bash -c 'source backend/venv/bin/activate && black "$@"' --: any of: backend/**/*.py
