Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

.lintstagedrc:

{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write"
  ],
  "backend/**/*.py": [
    "bash -c 'source backend/venv/bin/activate && black \"$@\"' --"
  ]
}

refactor: Redesign dashboard UI to display user session information, update quick stats, and revamp module cards with new styling.
  frontend/app/dashboard/page.tsx
Due: prettier --write

style: Refresh login and register page UI with updated Tailwind CSS classes and dark mode support.
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
Due: prettier --write

feat: Implement comprehensive Supabase authentication state management with session checks, real-time updates, and improved login/logout flows.
  frontend/app/auth/login/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/page.tsx
  frontend/components/ui/button.tsx
  frontend/lib/auth.ts
  frontend/lib/supabase.ts
Due: prettier --write

chore: add --webpack flag to next build script
  frontend/package.json
Due: none

feat: Implement job scraping and matching functionality, and refresh UI styling across the application.
  backend/models/analysis.py
  backend/routers/job_match.py
  backend/routers/resume.py
  backend/services/job_scraper.py
  backend/services/resume_parser.py
  backend/utils/text_cleaner.py
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
  frontend/app/dashboard/resume-templates/page.tsx
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/ResumeEditor.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/lib/api.ts
  frontend/styles/globals.css
  package.json
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Add email redirect URL to Supabase sign-up options.
  frontend/lib/auth.ts
Due: prettier --write

feat: redirect unauthenticated users to the root path instead of the login page.
  frontend/app/dashboard/layout.tsx
Due: prettier --write

refactor: Adjust animation properties for buttons, cards, and page elements.
  frontend/app/page.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
Due: prettier --write

docs: update project README with Next.js 16, React 19, expanded tech stack, and refined setup instructions, while simplifying the login redirect URL in `auth.ts`.
  README.md
  frontend/README.md
  frontend/lib/auth.ts
Due: prettier --write

feat: Implement non-fatal Supabase storage upload and persist ATS breakdown and feedback for resumes.
  backend/routers/resume.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Add resume storage bucket, ATS columns to resumes table, and RLS policies for resume uploads.
  supabase/schema.sql
Due: none

feat: Add Supabase setup instructions to the `supabase/README.md` file.
  supabase/README.md
Due: none

feat: Introduce new resume templates and expand existing template content and previews.
  frontend/app/dashboard/resume-templates/page.tsx
Due: prettier --write

refactor: Remove hardcoded resume template definitions and related component imports from the templates page.
  frontend/app/dashboard/resume-templates/page.tsx
Due: prettier --write

Remove lint-staged configuration and generated linting output file.
  .lintstagedrc
  lint_output.txt
Due: none

feat: Implement password reset functionality including email sending and a dedicated reset page.
  frontend/app/auth/login/page.tsx
  frontend/app/auth/reset-password/page.tsx
  frontend/lib/auth.ts
Due: prettier --write

feat: add lint-staged configuration for automatic code formatting with Prettier
  package.json
Due: none

feat: Implement job matching with direct file uploads and display fit verdict, pros, and cons.
  backend/config.py
  backend/dependencies.py
  backend/main.py
  backend/models/analysis.py
  backend/routers/interview.py
  backend/routers/job_match.py
  backend/routers/resume.py
  backend/services/ats_scorer.py
  backend/services/jd_matcher.py
  backend/services/resume_parser.py
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
  frontend/components/ResumeUploader.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Implement interview proctoring system with trust score report, pre-interview checks, and enhanced API session handling.
  backend/dependencies.py
  backend/models/interview.py
  backend/routers/interview.py
  backend/test_jwt.py
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/interview/PreInterviewChecks.tsx
  frontend/components/interview/ProctorProvider.tsx
  frontend/components/interview/ProctorToolbar.tsx
  frontend/components/interview/ToastProvider.tsx
  frontend/components/interview/TrustScoreReport.tsx
  frontend/components/interview/WebcamMonitor.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
  frontend/styles/globals.css
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Improve API URL resolution, enhance JWT secret handling for Supabase, and refine API error messaging.
  backend/dependencies.py
  backend/dummy.pdf
  frontend/components/interview/PreInterviewChecks.tsx
  frontend/components/interview/ProctorProvider.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --
