Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

.lintstagedrc:

{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write"
  ],
  "backend/**/*.py": [
    "bash -c 'source backend/venv/bin/activate && black \"$@\"' --"
  ]
}

fix(cors): support onrender and netlify deployment origins
  backend/config.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

chore: add jwt debug info to 401 response
  backend/dependencies.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

fix: validate ES256 Supabase JWTs over network fallback
  backend/dependencies.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

chore: Remove temporary GitHub API and JWT decoding test scripts.
  backend/test_github.py
  backend/test_jwt.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Implement robust JWT validation supporting HS256, ES256, and RS256 algorithms with JWKS caching.
  backend/dependencies.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

refactor: improve JWT token validation error handling in backend and enhance API unreachable error message in frontend
  backend/dependencies.py
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Revert "refactor: improve JWT token validation error handling in backend and enhance API unreachable error message in frontend"
  backend/dependencies.py
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Reapply "refactor: improve JWT token validation error handling in backend and enhance API unreachable error message in frontend"
  backend/dependencies.py
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

chore: ignore the `.agents/` directory.
  .gitignore
Due: none

feat: Implement dynamic interview question generation and evaluation based on role, experience, and structured question banks, including a new interview plan and detailed answer feedback.
  backend/models/interview.py
  backend/routers/interview.py
  backend/services/interview_engine.py
  docs/ai-protected-interview-features.md
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/interview/TrustScoreReport.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Implement structured interview answer storage and refresh button component styling
  backend/routers/interview.py
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/app/dashboard/resume-templates/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/styles/globals.css
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Apply new color scheme and refine dashboard content layout for improved centering.
  frontend/app/dashboard/layout.tsx
  frontend/styles/globals.css
Due: prettier --write

feat: Add `sectionId` prop to `AccordionSection` component and use it as a data attribute.
  frontend/app/dashboard/resume-templates/page.tsx
Due: prettier --write

feat: redesign ScoreCard and SkillGapList components with updated styling and typography.
  frontend/app/dashboard/job-match/page.tsx
  frontend/components/ResumeEditor.tsx
  frontend/components/ResumeUploader.tsx
  frontend/components/ScoreCard.tsx
  frontend/components/SkillGapList.tsx
Due: prettier --write

Style: Modernize UI components with updated Tailwind CSS classes and glassmorphism design elements.
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/Navbar.tsx
  frontend/components/RadarChart.tsx
  frontend/components/ResumeEditor.tsx
  frontend/components/ResumeUploader.tsx
  frontend/components/ScoreCard.tsx
  frontend/components/SkillGapList.tsx
  frontend/components/interview/PreInterviewChecks.tsx
  frontend/components/interview/ProctorToolbar.tsx
  frontend/components/interview/WebcamMonitor.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/styles/globals.css
Due: prettier --write

style: adjust UI colors, backgrounds, and refactor Tailwind CSS utility classes for consistency.
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/page.tsx
  frontend/components/interview/ProctorToolbar.tsx
Due: prettier --write

feat: Adjust analytics data field names and enhance evolution score calculation, while improving frontend list key generation.
  backend/routers/analytics.py
  frontend/app/dashboard/resume-analysis/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Implement career roadmap generation and display, and refine interview panel UI.
  .gitignore
  backend/main.py
  backend/models/roadmap.py
  backend/routers/roadmap.py
  backend/services/roadmap_engine.py
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: Add Google site verification file and ignore AGENTS.md.
  .gitignore
  frontend/public/google9247cc91dc1d8725.html
Due: none

Fix typo in mock interview page and import framer-motion in resume analysis page.
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
Due: prettier --write
