Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

fix(a11y): Make resource tooltip keyboard accessible in TechTreeNode
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

🛡️ Sentinel: [CRITICAL] Fix path traversal in file upload
  backend/utils/file_handler.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Parallelize independent database queries in `generate_roadmap`
  backend/routers/roadmap.py
  backend/scripts/roadmap_scraper.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Parallelize database queries in cover letter export
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Accessibility improvements for icon buttons and tooltips
  fix_lint.sh
  frontend/app/auth/login/page.tsx
  frontend/app/dashboard/applications/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Concurrent DB lookups in job suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Fix DoS risk in file uploads by enforcing size limits
  backend/routers/job_match.py
  backend/routers/linkedin.py
  backend/routers/resume.py
  backend/scripts/roadmap_scraper.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Parallelize independent DB queries in roadmap generation
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Make TechTreeNode resources link accessible
  .jules/palette.md
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Optimize sequential Supabase queries in job_suggester.py
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize export cover letter Supabase queries
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve accessibility for Tech Tree resources tooltip
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

🎨 Palette: Make TechTreeNode resources tooltip keyboard accessible
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Parallelize database queries in roadmap generation
  backend/routers/roadmap.py
  backend/scripts/roadmap_scraper.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Perf: Fix N+1 database bottleneck in job suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

UX: Add accessibility improvements to VerticalRoadmap status toggle
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/components/dashboard/VerticalRoadmap.tsx
Due: prettier --write

Hello! Jules here. I've successfully implemented the requested updates. Here is a breakdown of the accessibility improvements I've made for you:
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Optimize job suggester data fetching
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [CRITICAL] Fix path traversal in temporary file cleanup
  backend/utils/file_handler.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Prevent event loop blocking and reduce latency in job suggester via asyncio.gather
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Fix blocking Supabase database calls in async event loop
  backend/scripts/roadmap_scraper.py
  backend/services/job_suggester.py
  backend/services/outreach_service.py
  backend/services/roadmap_engine.py
  backend/services/semantic_cache.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(ui): improve keyboard accessibility for TechTreeNode resources tooltip
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: [performance] Parallelize DB queries in roadmap generation
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve keyboard accessibility in dashboard components
  frontend/components/dashboard/SkillDrawer.tsx
  frontend/components/dashboard/TechTreeNode.tsx
  frontend/components/dashboard/VerticalRoadmap.tsx
Due: prettier --write

⚡ Bolt: Use concurrent queries in get_user_readiness_context
  backend/scripts/roadmap_scraper.py
  backend/services/job_suggester.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

refactor: change LoadingScreen import to default and add to progress-tracker page
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
Due: prettier --write

⚡ Bolt: Optimize GitHub API calls with asyncio.gather
  backend/services/github_analyzer.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

fix: replace apostrophes with HTML entities across UI components
  frontend/app/blogs/page.tsx
  frontend/app/careers/page.tsx
  frontend/app/contact/page.tsx
  frontend/app/not-found.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

feat: add rotating motivational and sarcastic quotes to LoadingScreen component
  frontend/components/ui/LoadingScreen.tsx
Due: prettier --write

feat: implement streaming functionality for NVIDIA inference API with error handling
  backend/scripts/test_enhancements.py
  backend/services/embedding_engine.py
  backend/services/nvidia_client.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement Face-to-Face Video Mock Interview Studio UI
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write

feat: implement automated Twitter-to-Job Board aggregator
  .github/workflows/daily-jobs-sync.yml
  backend/config.py
  backend/main.py
  backend/routers/jobs_board.py
  backend/services/twitter_job_aggregator.py
  frontend/app/jobs/page.tsx
  frontend/components/landing/LandingNavbar.tsx
  frontend/lib/api.ts
  package.json
  supabase/migrations/20260523_create_job_posts.sql
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

fix: update production API fallback URL and improve apply URL formatting
  frontend/app/jobs/page.tsx
  frontend/lib/api.ts
Due: prettier --write

feat: enhance ProctorProvider with error handling for FaceDetector and AudioContext initialization
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/interview/ProctorProvider.tsx
Due: prettier --write

feat: add loading screen and pre-interview checks phase to mock interview flow
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/interview/PreInterviewChecks.tsx
  frontend/components/interview/ProctorProvider.tsx
Due: prettier --write

⚡ Bolt: Optimize text_cleaner keyword extraction and regex matching
  backend/utils/text_cleaner.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Improve error messages to not leak info
  backend/routers/jobs_board.py
  backend/scripts/roadmap_scraper.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

fix: ensure proper cleanup of media stream and exit fullscreen on component unmount
  frontend/components/interview/ProctorProvider.tsx
Due: prettier --write

feat: implement audio transcription and dynamic question generation in interview flow
  backend/models/interview.py
  backend/routers/interview.py
  backend/services/audio_transcriber.py
  backend/services/interview_engine.py
  backend/services/nvidia_client.py
  frontend/components/InterviewPanel.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: enhance interview flow with dynamic question category determination and resume context selection
  backend/services/interview_engine.py
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Path conditions:
  prettier --write: any of: frontend/**/*.{ts,tsx,js,jsx}
  bash -c 'source backend/venv/bin/activate && black "$@"' --: any of: backend/**/*.py
