Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

.lintstagedrc:

{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write"
  ],
  "backend/**/*.py": [
    "bash -c 'source backend/venv/bin/activate && black \"$@\"' --"
  ]
}

feat: implement AI-driven roadmap generation with Groq fallback and skill tracking support
  .gitignore
  backend/models/roadmap.py
  backend/routers/roadmap.py
  backend/services/roadmap_engine.py
  frontend/.gitignore
  frontend/app/dashboard/roadmap/page.tsx
  frontend/lib/api.ts
  supabase/add_roadmap_field.sql
  supabase/roadmap_schema.sql
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: enhance AI analytics prompt for holistic career reporting and comment out unused dashboard navigation items
  backend/routers/analytics.py
  frontend/app/dashboard/layout.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: update NVIDIA client to use Gemma 4 and implement fallback logic in analytics router
  backend/routers/analytics.py
  backend/services/nvidia_client.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement outreach service for automated LinkedIn and email draft generation and rebrand AI engine to Hirenix AI
  README.md
  backend/README.md
  backend/models/analysis.py
  backend/routers/job_match.py
  backend/services/jd_matcher.py
  backend/services/nvidia_client.py
  backend/services/outreach_service.py
  frontend/app/dashboard/job-match/page.tsx
  frontend/components/OutreachModal.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Prevent N+1 API calls by pre-computing invariant embeddings
  backend/routers/job_match.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Prevent Information Leakage in GitHub Analysis Endpoint
  backend/routers/github.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Parallelize evaluate_session with asyncio.gather
  backend/routers/interview.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add accessibility attributes to modal buttons
  .Jules/palette.md
  frontend/components/CoverLetterModal.tsx
  frontend/components/OutreachModal.tsx
Due: prettier --write

🛡️ Sentinel: [HIGH] Secure Stripe webhook endpoint validation & error handling
  backend/routers/payments.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Pre-compile regular expressions to eliminate redundant compilation overhead
  backend/services/resume_parser.py
  backend/utils/text_cleaner.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add ARIA labels and focus states to icon-only buttons
  frontend/app/dashboard/account/page.tsx
  frontend/components/CoverLetterModal.tsx
  frontend/components/OutreachModal.tsx
Due: prettier --write

perf: precompute invariant embeddings in job match
  backend/routers/job_match.py
  backend/services/embedding_engine.py
  backend/services/outreach_service.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize skill gap detection performance
  backend/services/skill_gap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add ARIA labels and focus styles to modal icon buttons
  frontend/components/CoverLetterModal.tsx
  frontend/components/OutreachModal.tsx
Due: prettier --write

feat: remove subscription paywall and hardcode all users to pro plan
  backend/dependencies.py
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/pricing/page.tsx
  frontend/components/landing/LandingNavbar.tsx
  frontend/lib/auth.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add interactive tech tree visualization, impact storyteller, and application tracking modal
  frontend/app/dashboard/applications/page.tsx
  frontend/app/dashboard/github-analysis/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
  frontend/app/globals.css
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/CareerPulseChart.tsx
  frontend/components/dashboard/TechTree.tsx
  frontend/components/dashboard/TechTreeNode.tsx
  frontend/components/github/ImpactStoryteller.tsx
  frontend/components/landing/Footer.tsx
Due: prettier --write

feat: implement asynchronous link validation and fallback resource generation in roadmap engine
  .gitignore
  backend/services/roadmap_engine.py
  backend/utils/link_validator.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Cache static JSON loading in skill gap service
  backend/services/skill_gap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix Exception Details Leakage in APIs
  backend/routers/linkedin.py
  backend/routers/roadmap.py
  backend/utils/link_validator.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement mobile navigation menu and enhance dashboard UI with animated background elements and text gradients
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/CareerPulseChart.tsx
Due: prettier --write

feat: implement onboarding wizard and replace CareerPulseChart with ActivityRings component
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/ActivityRings.tsx
  frontend/components/dashboard/CareerPulseChart.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

feat: Pre-compile regex in job scraper HTML stripping function
  backend/services/job_scraper.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

refactor: standardize UI components and styling using centralized utility functions and brand color tokens
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/spotlight-card.tsx
  frontend/lib/utils.ts
  frontend/styles/globals.css
  package-lock.json
Due: prettier --write

feat(ui): add aria-labels and focus-visible styles to modal close buttons
  frontend/components/CoverLetterModal.tsx
  frontend/components/OutreachModal.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write

⚡ Bolt: Cache role_skill_matrix.json to prevent async event loop blocking
  backend/services/skill_gap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Cache role-skill matrix loading
  backend/services/skill_gap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [Resume Editor Accessibility & Focus]
  frontend/app/page.tsx
  frontend/components/ResumeEditor.tsx
Due: prettier --write

feat(ux): Add aria-labels to icon-only buttons in ResumeEditor
  frontend/app/page.tsx
  frontend/components/ResumeEditor.tsx
Due: prettier --write

⚡ Bolt: Batch database inserts for resume sections
  backend/routers/resume.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Batch insert resume sections to avoid N+1 queries
  backend/routers/resume.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(a11y): add aria-labels to modal close buttons
  frontend/components/CoverLetterModal.tsx
  frontend/components/OutreachModal.tsx
  frontend/components/dashboard/AddApplicationModal.tsx
Due: prettier --write
