Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement multi-handle Twitter job aggregator with periodic background sync and update landing page documentation
  backend/config.py
  backend/main.py
  backend/services/twitter_job_aggregator.py
  frontend/components/landing/Footer.tsx
  frontend/components/landing/LandingNavbar.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: integrate local job posts and add granular workplace and job type filtering to search interface
  backend/models/analysis.py
  backend/routers/job_match.py
  backend/services/job_scraper.py
  frontend/app/dashboard/job-match/page.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

refactor: enhance job suggestion engine with LinkedIn integration and revamp job discovery UI components
  backend/services/job_suggester.py
  frontend/app/dashboard/job-match/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize Supabase database queries using asyncio.gather
  backend/routers/interview.py
  backend/scripts/roadmap_scraper.py
  backend/services/job_suggester.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Fix timing attack vulnerability in token validation
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Make TechTreeNode resource tooltip keyboard accessible
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Offload and batch Supabase queries in job suggester
  backend/routers/interview.py
  backend/scripts/roadmap_scraper.py
  backend/services/job_suggester.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add accessibility to interview panel controls
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write

🛡️ Sentinel: [HIGH] Fix PostgREST Injection and Timing Attack
  backend/routers/jobs_board.py
  backend/services/job_scraper.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Make TechTreeNode tooltip keyboard accessible
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Refactor job suggester DB queries to run concurrently
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [CRITICAL] Fix timing attack vulnerability in token check
  .jules/sentinel.md
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Concurrent DB queries for roadmap generation
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Fix malformed Tailwind hover classes across components
  frontend/components/CoverLetterModal.tsx
  frontend/components/Navbar.tsx
  frontend/components/ResumeEditor.tsx
  frontend/components/ResumeUploader.tsx
  frontend/components/SkillGapList.tsx
  frontend/components/interview/ProctorToolbar.tsx
  frontend/components/ui/tabs.tsx
Due: prettier --write

⚡ Bolt: Optimize text cleaner regex and sets
  backend/routers/interview.py
  backend/scripts/roadmap_scraper.py
  backend/services/roadmap_engine.py
  backend/utils/text_cleaner.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [CRITICAL] Fix PostgREST filter injection
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
  backend/scripts/roadmap_scraper.py
  backend/services/job_scraper.py
  backend/services/roadmap_engine.py
  backend/utils/sanitizer.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: fix malformed tailwind arbitrary class strings and add keyboard focus rings to editor toolbar buttons
  frontend/components/ResumeEditor.tsx
Due: prettier --write

feat: add secret validation and HTTP status logging to daily jobs sync workflow
  .github/workflows/daily-jobs-sync.yml
Due: none

perf(job_suggester): execute Supabase queries concurrently using asyncio.gather
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Optimize DB queries in job_suggester.py using asyncio.gather
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add ARIA label to SkillDrawer close button
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/SkillDrawer.tsx
Due: prettier --write

Add accessibility attributes to SkillDrawer component
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/SkillDrawer.tsx
Due: prettier --write

⚡ Bolt: Optimize sequential Supabase queries in job suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add focus states and aria-label to SkillDrawer
  frontend/components/dashboard/SkillDrawer.tsx
Due: prettier --write

⚡ Bolt: Parallelize independent database queries in job_suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add ARIA label and focus styles to SkillDrawer buttons
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/SkillDrawer.tsx
Due: prettier --write

Optimize regex and sets in Python text processor
  backend/utils/text_cleaner.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add aria-label and focus states to SkillDrawer
  frontend/components/dashboard/SkillDrawer.tsx
Due: prettier --write

Combined multiple achievement regex patterns into a single OR-joined pattern and extracted the stopwords set to a module-level constant to reduce redundant operations.
  backend/utils/text_cleaner.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: [performance improvement] optimize text_cleaner by extracting constants and combining regexes
  backend/utils/text_cleaner.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add accessibility to SkillDrawer close button
  frontend/components/dashboard/SkillDrawer.tsx
Due: prettier --write

feat: replace RSS-based Twitter scraping with Apify integration for improved data reliability
  backend/config.py
  backend/services/twitter_job_aggregator.py
  render.yaml
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

debug: expose jobs board retrieval error details
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

chore: revert debugging output in jobs board response
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Add ARIA labels and focus states to roadmap buttons
  frontend/components/dashboard/VerticalRoadmap.tsx
Due: prettier --write

⚡ Bolt: optimize regex compilation and sets in text_cleaner.py
  backend/utils/text_cleaner.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Fix broken tailwind styling on resume editor buttons
  frontend/components/ResumeEditor.tsx
Due: prettier --write

⚡ Bolt: [performance improvement]
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Optimize job_suggester.py by parallelizing database queries
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [UX improvement] Fix keyboard navigation and screen reader a11y in VerticalRoadmap
  frontend/components/dashboard/VerticalRoadmap.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: frontend/**/*.{ts,tsx,js,jsx}
  bash -c 'source backend/venv/bin/activate && black "$@"' --: any of: backend/**/*.py
