Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --workspace=frontend, prettier --write, black

feat: Configure project for Vercel deployment with a new build script and Vercel configuration file.
  package.json
  vercel.json
Due: none

feat: add a pull request template to streamline PR submissions
  .github/pull_request_template.md
Due: none

feat: integrate all-contributors CLI and add contributors section to README.
  .all-contributorsrc
  README.md
  package-lock.json
  package.json
Due: none

refactor: Replace `any` type usage with explicit types and address lint warnings across frontend components.
  frontend/app/auth/register/page.tsx
  frontend/app/dashboard/github-analysis/page.tsx
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/mock-interview/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
  frontend/app/page.tsx
  frontend/app/upload/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/ResumeUploader.tsx
  lint_output.txt
Due: npm run lint --workspace=frontend, prettier --write

feat: Improve frontend authentication error handling, update backend Pydantic models, and refine lint-staged configurations.
  backend/main.py
  backend/models/interview.py
  backend/requirements.txt
  frontend/app/auth/login/page.tsx
  frontend/package-lock.json
Due: npm run lint --workspace=frontend, prettier --write, black

chore: Refine lint-staged configurations for backend black and frontend linting, and enhance registration error handling with a try-catch block.
  .lintstagedrc
  frontend/app/auth/register/page.tsx
Due: npm run lint --workspace=frontend, prettier --write

Update README.md
  README.md
Due: none

feat: Add resume builder page with ATS-friendly templates, rich text editing, and PDF export functionality.
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/resume-templates/page.tsx
  frontend/components/ResumeEditor.tsx
  frontend/package.json
  package-lock.json
Due: npm run lint --workspace=frontend, prettier --write

added env
  vercel.json
Due: none

chore: Remove environment variables from vercel.json.
  vercel.json
Due: none

feat: Add Render deployment configuration for backend and frontend services.
  render.yaml
Due: none

feat: Add `dev` script to concurrently run frontend and backend development servers and include `concurrently` as a dev dependency.
  package-lock.json
  package.json
Due: none

feat: Refactor homepage links to apply button styles directly, enhance auth error handling, and improve client-side rendering for resume templates.
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/app/dashboard/resume-templates/page.tsx
  frontend/app/page.tsx
  frontend/components/ResumeEditor.tsx
  package.json
Due: npm run lint --workspace=frontend, prettier --write

chore: remove frontend from render.yaml for Vercel deployment
  render.yaml
Due: none

fix: ignore husky install error in CI
  package.json
Due: none

fix: remove outputDirectory to fix Vercel deploy
  vercel.json
Due: none

fix: set outputDirectory to .next for Vercel
  vercel.json
Due: none

fix: pin Python version to 3.11 for Render
  render.yaml
Due: none

chore: add .python-version files to specify Python 3.11.9 for Render
  .python-version
  backend/.python-version
Due: none

chore: update ALLOWED_ORIGINS for Vercel deployment
  backend/config.py
Due: black

chore: Ignore local environment files by adding `.env*.local` to `.gitignore`.
  .gitignore
Due: none

docs: add structured GitHub Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

feat: Implement a refreshed landing page UI with new Button and Card components, Framer Motion animations, and a dark theme.
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/package.json
  frontend/styles/globals.css
  package-lock.json
Due: npm run lint --workspace=frontend, prettier --write

Path conditions:
  npm run lint --workspace=frontend: any of: frontend/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: frontend/**/*.{ts,tsx,js,jsx}
  black: any of: backend/**/*.py
