Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Batch insert resume sections to avoid N+1 queries
  backend/routers/resume.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Parallelize DB queries in analytics endpoints
  backend/routers/analytics.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(ux): Add accessible keyboard focus and ARIA labels to hover-revealed buttons
  frontend/components/github/ImpactStoryteller.tsx
Due: prettier --write

⚡ Bolt: Parallelize DB queries in get_user_readiness_context
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(a11y): add keyboard focus and dynamic aria-labels to ImpactStoryteller copy button
  frontend/components/github/ImpactStoryteller.tsx
Due: prettier --write

refactor: implement standardized CSS variable theme and migrate UI components to use semantic color tokens
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/app/page.tsx
  frontend/components/landing/Footer.tsx
  frontend/components/landing/LandingNavbar.tsx
  frontend/lint_output.txt
  frontend/styles/globals.css
Due: prettier --write

feat: import Button component into login page
  frontend/app/auth/login/page.tsx
Due: prettier --write

refactor: destructure children prop in Card component for explicit usage
  frontend/components/ui/card.tsx
Due: prettier --write

🎨 Palette: Add ARIA labels and focus states to ImpactStoryteller copy button
  frontend/components/github/ImpactStoryteller.tsx
Due: prettier --write

⚡ Bolt: Parallelize sequential DB queries in analytics to reduce latency
  backend/routers/analytics.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

perf(roadmap): parallelize database queries in roadmap generation
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add keyboard focus to ResumeEditor toolbar
  frontend/components/ResumeEditor.tsx
Due: prettier --write

perf: Optimize sequential Supabase queries in roadmap generator
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

fix(ux): add keyboard focus-visible styles to ResumeEditor toolbar
  frontend/components/ResumeEditor.tsx
Due: prettier --write

perf: execute supabase queries concurrently in job suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [CRITICAL] Fix Authorization Bypass in Backend Dependencies
  backend/dependencies.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

perf(backend): parallelize db queries in suggester and outreach
  backend/services/job_suggester.py
  backend/services/outreach_service.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

style: remove background and border transition effects from glass-card hover state
  frontend/styles/globals.css
Due: none

style: enhance glass-card hover effects with custom transitions, scale, and color-blending
  frontend/styles/globals.css
Due: none

feat: add interactive component previews to About page, update text formatting, and import Caveat font
  frontend/app/about/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/styles/globals.css
Due: prettier --write

Hi, Jules here! I've gone ahead and updated the TechTree codebase to improve the accessibility of the resources tooltip. Here is a breakdown of what I changed:
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Parallelize roadmap generation database queries
  backend/routers/roadmap.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Make TechTreeNode tooltip keyboard accessible
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

⚡ Bolt: Parallelize synchronous Supabase queries in job suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

perf: Optimize readiness context fetching using asyncio.gather
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve accessibility and focus rings in Resume Editor toolbar
  frontend/components/ResumeEditor.tsx
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix information leakage in token error handling
  backend/dependencies.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Make TechTreeNode resources tooltip keyboard accessible
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

perf(github): eliminate sequential API calls with asyncio.gather
  backend/services/github_analyzer.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Optimize async db calls in job suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Add accessibility to TechTreeNode resources button
  frontend/components/dashboard/TechTreeNode.tsx
Due: prettier --write

feat: add roadmap scraper for roadmap.sh integration and update roadmap engine to generate hierarchical career paths
  backend/data/roadmaps/android/content.json
  backend/data/roadmaps/android/roadmap.json
  backend/data/roadmaps/backend/content.json
  backend/data/roadmaps/backend/roadmap.json
  backend/data/roadmaps/data-analyst/content.json
  backend/data/roadmaps/data-analyst/roadmap.json
  backend/data/roadmaps/devops/content.json
  backend/data/roadmaps/devops/roadmap.json
  backend/data/roadmaps/frontend/content.json
  backend/data/roadmaps/frontend/roadmap.json
  backend/data/roadmaps/full-stack/content.json
  backend/data/roadmaps/full-stack/roadmap.json
  backend/data/roadmaps/ios/content.json
  backend/data/roadmaps/ios/roadmap.json
  backend/data/roadmaps/machine-learning/content.json
  backend/data/roadmaps/machine-learning/roadmap.json
  backend/models/roadmap.py
  backend/routers/roadmap.py
  backend/scripts/roadmap_scraper.py
  backend/services/roadmap_engine.py
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/dashboard/SkillDrawer.tsx
  frontend/components/dashboard/VerticalRoadmap.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add logging and json modules to roadmap engine service
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Parallelize independent DB queries in roadmap generation
  backend/routers/roadmap.py
  backend/scripts/roadmap_scraper.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement centralized LoadingScreen component and integrate across authentication and dashboard pages
  frontend/app/auth/login/page.tsx
  frontend/app/dashboard/account/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/loading.tsx
  frontend/app/dashboard/progress-tracker/page.tsx
  frontend/app/dashboard/roadmap/page.tsx
  frontend/app/loading.tsx
  frontend/components/ui/LoadingScreen.tsx
Due: prettier --write

⚡ Bolt: Parallelize DB queries in job suggester
  backend/services/job_suggester.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Refactor `analyze_github_profile` to fetch repo commits concurrently.
  backend/services/github_analyzer.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Optimize `backend/services/job_suggester.py` with concurrent database queries
  backend/scripts/roadmap_scraper.py
  backend/services/job_suggester.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Parallelize DB queries in job suggester
  backend/scripts/roadmap_scraper.py
  backend/services/job_suggester.py
  backend/services/roadmap_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Path conditions:
  prettier --write: any of: frontend/**/*.{ts,tsx,js,jsx}
  bash -c 'source backend/venv/bin/activate && black "$@"' --: any of: backend/**/*.py
