Repository SudoAnirudh/Hirenix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat(a11y): add aria attributes to dashboard navigation links and mobile menu
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/roadmap/page.tsx
Due: prettier --write

🎨 Palette: Improve accessibility of InterviewPanel controls
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write

Offload synchronous Supabase queries in applications router
  backend/routers/applications.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix information disclosure via unhandled exceptions
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: enhance GitHub analysis with test density metrics, longevity tracking, and a new live testing utility.
  backend/models/github.py
  backend/scripts/live_github_test.py
  backend/services/github_analyzer.py
  backend/tests/test_github_analyzer.py
  backend/utils/scoring_weights.py
  frontend/app/dashboard/github-analysis/page.tsx
  frontend/components/github/ImpactStoryteller.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: integrate LLM-based structured resume parsing and implement comprehensive NLP-driven evaluation suite
  backend/models/resume.py
  backend/routers/resume.py
  backend/services/ats_scorer.py
  backend/services/embedding_engine.py
  backend/services/feedback_engine.py
  backend/services/nlp_evaluator.py
  backend/services/resume_parser.py
  backend/services/semantic_scorer.py
  backend/utils/markdown_extractor.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: implement dynamic target role inference and pass target_role to ATS scoring and feedback generation
  backend/routers/resume.py
  backend/services/ats_scorer.py
  backend/services/feedback_engine.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add support for tracking external open source contributions and introduce diagnostic script for PR inspection
  backend/scripts/inspect_external_prs.py
  backend/services/github_analyzer.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: enhance github analysis with granular metrics including docstrings, type safety, security risk, and containerization support.
  backend/models/github.py
  backend/routers/github.py
  backend/scripts/live_github_test.py
  backend/services/github_analyzer.py
  frontend/app/dashboard/github-analysis/page.tsx
  frontend/lib/api.ts
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

chore: update backend dependency versions in requirements.txt
  backend/requirements.txt
Due: none

refactor: streamline JWT verification logic in backend and remove redundant auth state subscription from login page
  backend/dependencies.py
  frontend/app/auth/login/page.tsx
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix raw exception leakage in API routers
  backend/routers/agent.py
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve accessibility of icon-only action buttons
  frontend/app/dashboard/roadmap/page.tsx
  frontend/components/CoverLetterModal.tsx
  frontend/components/InterviewPanel.tsx
Due: prettier --write

perf: Offload synchronous Supabase calls to thread pool
  backend/routers/applications.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: [performance improvement] Offload synchronous Supabase calls to thread
  backend/routers/applications.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: Fix Information Disclosure via Exception Details
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

refactor: restructure dashboard architecture by consolidating sub-pages into modular career and progress categories and updating global navigation.
  DESIGN.md
  frontend/app/dashboard/ai-copilot/page.tsx
  frontend/app/dashboard/career/github/page.tsx
  frontend/app/dashboard/career/linkedin/page.tsx
  frontend/app/dashboard/career/page.tsx
  frontend/app/dashboard/career/resume/page.tsx
  frontend/app/dashboard/job-match/page.tsx
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/opportunities/applications/page.tsx
  frontend/app/dashboard/opportunities/discover/page.tsx
  frontend/app/dashboard/opportunities/saved/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/preparation/interviews/page.tsx
  frontend/app/dashboard/preparation/roadmap/page.tsx
  frontend/app/dashboard/progress/page.tsx
  frontend/app/dashboard/resume-analysis/page.tsx
  frontend/app/dashboard/resume-templates/page.tsx
  frontend/app/dashboard/settings/page.tsx
  frontend/app/upload/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/Navbar.tsx
  frontend/styles/globals.css
  package.json
Due: prettier --write

refactor: update UI design system with modernized component styles and add interactive resume analyzer to landing page
  frontend/app/dashboard/career/page.tsx
  frontend/app/dashboard/career/resume/page.tsx
  frontend/app/dashboard/opportunities/discover/page.tsx
  frontend/app/dashboard/opportunities/saved/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/dashboard/preparation/interviews/page.tsx
  frontend/app/dashboard/preparation/roadmap/page.tsx
  frontend/app/page.tsx
  frontend/components/InterviewPanel.tsx
  frontend/components/dashboard/SkillDrawer.tsx
  frontend/components/dashboard/VerticalRoadmap.tsx
  frontend/components/ui/badge.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/styles/globals.css
Due: prettier --write

feat: expand LinkedIn profile analysis to include headline variations, keyword density, XYZ bullet audits, and recruiter checklists
  backend/models/linkedin.py
  backend/services/linkedin_analyzer.py
  backend/tests/generate_mock_pdf.py
  backend/tests/test_linkedin_analyzer.py
  frontend/app/dashboard/career/linkedin/page.tsx
  frontend/components/LinkedinUploader.tsx
  frontend/lib/api.ts
  mock_linkedin.pdf
Due: prettier --write, bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Improve Copy to Clipboard accessibility and fix hover states
  frontend/components/CoverLetterModal.tsx
Due: prettier --write

⚡ Bolt: [performance improvement] Speed up cover letter export by using concurrent DB queries
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix Exception Details Information Disclosure
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Prevent event loop blocking and batch independent DB queries in cover_letters endpoints
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix Information Exposure in Error Responses
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Add aria-label and title to copy button in OutreachModal
  frontend/components/OutreachModal.tsx
Due: prettier --write

⚡ Bolt: Offload synchronous Supabase queries to threads in cover_letter.py
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🛡️ Sentinel: [MEDIUM] Fix error message information leakage
  .jules/sentinel.md
  backend/routers/interview.py
  backend/routers/jobs_board.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

perf: optimize synchronous supabase queries in cover_letter router
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Offload synchronous Supabase queries to background threads
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: Fix form label accessibility
  frontend/components/dashboard/AddApplicationModal.tsx
  frontend/components/dashboard/OnboardingWizard.tsx
Due: prettier --write

Fix information disclosure in agent router exceptions
  backend/routers/agent.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: [performance improvement] Prevent event loop blocking in cover letter endpoints
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix exception information leakage in agent router
  backend/routers/agent.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix information disclosure in error messages
  .jules/sentinel.md
  backend/routers/agent.py
  backend/routers/linkedin.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

⚡ Bolt: Offload blocking database queries to background threads
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

🎨 Palette: [Accessibility improvements in Cover Letter Modal]
  frontend/components/CoverLetterModal.tsx
Due: prettier --write

Bolt: Prevent event loop blocking in cover_letter router
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Fix DoS Risk: Prevent synchronous Supabase queries from blocking the event loop in `cover_letter.py`
  .jules/sentinel.md
  backend/routers/cover_letter.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

feat: add visual feedback and tooltips to interview action buttons
  frontend/components/InterviewPanel.tsx
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix Information Disclosure in Error Handling
  .jules/sentinel.md
  backend/routers/agent.py
Due: bash -c 'source backend/venv/bin/activate && black "$@"' --

Path conditions:
  prettier --write: any of: frontend/**/*.{ts,tsx,js,jsx}
  bash -c 'source backend/venv/bin/activate && black "$@"' --: any of: backend/**/*.py
